### Import Libraries

In [1]:
import pandas as pd
import numpy as np

In [2]:
!pip3 install --upgrade pip

Requirement already satisfied: pip in c:\users\saloni\anaconda3\lib\site-packages (21.3.1)

In [3]:
!pip install --upgrade pip setuptools wheel

Requirement already satisfied: pip in c:\users\saloni\anaconda3\lib\site-packages (21.3.1)
Requirement already satisfied: setuptools in c:\users\saloni\anaconda3\lib\site-packages (60.0.5)
Collecting setuptools
  Downloading setuptools-60.1.0-py3-none-any.whl (952 kB)
Requirement already satisfied: wheel in c:\users\saloni\anaconda3\lib\site-packages (0.37.1)
Installing collected packages: setuptools
  Attempting uninstall: setuptools
    Found existing installation: setuptools 60.0.5
    Uninstalling setuptools-60.0.5:
      Successfully uninstalled setuptools-60.0.5
Successfully installed setuptools-60.1.0

In [ ]:
!pip install TA-Lib

In [2]:
import talib as ta

### Read Data from csv file

In [71]:
df1 = pd.read_csv('T_hist_amzn.csv')

In [72]:
df1.head(2)

,Date,Open,High,Low,Close,Adj Close,Volume,Stock_Code
0,2021-12-01,3545.0,3559.879883,3441.600098,3443.719971,3443.719971,3745800,AMZN
1,2021-12-02,3460.0,3492.699951,3423.750000,3437.360107,3437.360107,3236300,AMZN

### Drop the unnecessary columns

#### Keep Opening, Closing, Highest, Lowest Price, Volume and Date

In [73]:
df1.drop('Adj Close',inplace=True, axis=1 )

In [74]:
df1.drop('Stock_Code',inplace=True,axis=1)

In [75]:
df1.head()

         Date    Open         High          Low        Close   Volume
0  2021-12-01  3545.0  3559.879883  3441.600098  3443.719971  3745800
1  2021-12-02  3460.0  3492.699951  3423.750000  3437.360107  3236300
2  2021-12-03  3455.0  3469.870117  3338.600098  3389.790039  4032600
3  2021-12-06  3393.0  3473.909912  3338.689941  3427.370117  3443000
4  2021-12-07  3492.0  3549.989990  3466.689941  3523.290039  3320500

In [76]:
df1.set_index('Date',inplace=True)

In [77]:
df1.head()

              Open         High          Low        Close   Volume
Date
2021-12-01  3545.0  3559.879883  3441.600098  3443.719971  3745800
2021-12-02  3460.0  3492.699951  3423.750000  3437.360107  3236300
2021-12-03  3455.0  3469.870117  3338.600098  3389.790039  4032600
2021-12-06  3393.0  3473.909912  3338.689941  3427.370117  3443000
2021-12-07  3492.0  3549.989990  3466.689941  3523.290039  3320500

### Technical Indicators - RSI and %K

#### RSI

In [78]:
df1['RSI'] = ta.RSI(df1['Close'],7)

In [79]:
df1[7:12]

,Open,High,Low,Close,Volume,RSI
Date,,,,,,
2021-12-10,3508.340088,3518.540039,3410.000000,3444.239990,3031400,50.097572
2021-12-13,3440.000000,3442.000000,3382.600098,3391.350098,3108500,40.678294
2021-12-14,3351.000000,3389.979980,3328.800049,3381.830078,2798800,39.133189
2021-12-15,3371.959961,3472.000000,3303.899902,3466.300049,3789700,56.311311
2021-12-16,3467.370117,3483.320068,3363.209961,3377.419922,3043800,41.821967

#### %K (Stochastic Oscillator)

In [80]:
k_period = 7
# d_period = 3
# Adds a "n_high" column with max value of previous 14 periods
df1['n_high'] = df1['High'].rolling(k_period).max()
# Adds an "n_low" column with min value of previous 14 periods
df1['n_low'] = df1['Low'].rolling(k_period).min()
# Uses the min/max values to calculate the %k (as a percentage)
df1['%K'] = (df1['Close'] - df1['n_low']) * 100 / (df1['n_high'] - df1['n_low'])

In [81]:
df1[7:12]

,Open,High,Low,Close,Volume,RSI,n_high,n_low,%K
Date,,,,,,,,,
2021-12-10,3508.340088,3518.540039,3410.000000,3444.239990,3031400,50.097572,3549.989990,3338.600098,49.973956
2021-12-13,3440.000000,3442.000000,3382.600098,3391.350098,3108500,40.678294,3549.989990,3338.600098,24.953889
2021-12-14,3351.000000,3389.979980,3328.800049,3381.830078,2798800,39.133189,3549.989990,3328.800049,23.974883
2021-12-15,3371.959961,3472.000000,3303.899902,3466.300049,3789700,56.311311,3549.989990,3303.899902,65.992153
2021-12-16,3467.370117,3483.320068,3363.209961,3377.419922,3043800,41.821967,3543.600098,3303.899902,30.671656

In [82]:
df1.drop(['n_high','n_low'],inplace=True,axis=1)

In [83]:
df1.head(2)

              Open         High          Low        Close   Volume  RSI  %K
Date
2021-12-01  3545.0  3559.879883  3441.600098  3443.719971  3745800  NaN NaN
2021-12-02  3460.0  3492.699951  3423.750000  3437.360107  3236300  NaN NaN

#### Use backward fill (bfill) method to fill values for period of 7 days

In [84]:
df1['RSI'].fillna(method="bfill",inplace=True)

In [85]:
df1['%K'].fillna(method="bfill",inplace=True)

In [86]:
df1.head()

,Open,High,Low,Close,Volume,RSI,%K
Date,,,,,,,
2021-12-01,3545.0,3559.879883,3441.600098,3443.719971,3745800,50.097572,65.446477
2021-12-02,3460.0,3492.699951,3423.750000,3437.360107,3236300,50.097572,65.446477
2021-12-03,3455.0,3469.870117,3338.600098,3389.790039,4032600,50.097572,65.446477
2021-12-06,3393.0,3473.909912,3338.689941,3427.370117,3443000,50.097572,65.446477
2021-12-07,3492.0,3549.989990,3466.689941,3523.290039,3320500,50.097572,65.446477

In [87]:
df1.to_csv('TI_AMZN_T.csv')